<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Book</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Courgette:regular);
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            background: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
            font-family: Courgette;
        }
        form{
            width: 90vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding-left: 100px;
            font-size: 20px;
        }
            input{
                font-family: Courgette;
            }
            #title-input, #date-input{
                width: 500px;
                height: 20px;
            }
            #entry-input{
                width: 500px;
            }
            #submit-button{
                width: 200px;
                font-size: 18px;
                margin-left: 10vw;
                padding: 10px 40px;
                border-radius: 5px;
                background-color: lightgray;
                margin-bottom: 50px;
            }
            #submit-button:hover{
                cursor: pointer;
                background-color: antiquewhite;
            }
    </style>
</head>
<body>
    <form action= <%= `/logs/${log._id}?_method=PUT` %> method='POST'>
        Title: <input id='title-input' type='text' name='title' value= '<%= log.title %>' />
        Log Date: <input id='date-input' type='text' name='timestamps' value= <%= `${log.createdAt.getMonth() + 1}-${log.createdAt.getDate()}-${log.createdAt.getFullYear()}` %> />
        Entry: <input id='entry-input' type='text' name='entry' value= '<%= log.entry %>' />
        <div>
            Ship is Broken?
            <% if(log.shipIsBroken == true){ %>
                <input id='checkbox' type="checkbox" name="shipIsBroken" checked />
            <% }else{ %> 
                <input id='checkbox' type="checkbox" name="shipIsBroken" />
            <% } %>
        </div>
        <br/>
        <input id='submit-button' type="submit" value="Submit Changes"/>
    </form>
</body>
</html>