<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Book</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display:regular);
        @import url(https://fonts.googleapis.com/css?family=Sedgwick+Ave:regular);
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            background-color: beige;

            font-family: Sedgwick Ave;
        }
    </style>
</head>
<body>
    <nav>
        <a href='/home'>
            Return Home
        </a>
    </nav>
    <h1>
        Logs
    </h1>
    <a href="/logs/new">+ New Log</a>
    <ul>
        <% logs.map((log) => { %>
            <li>
                <a href= <%= `/logs/${log._id}` %>>
                    <%= log.title %>
                </a>
            </li>
            <a href= <%= `/logs/${log._id}/edit` %>>
                Edit Log
            </a>
            <form action= <%= `/logs/${log._id}/?_method=DELETE`%> method='POST'>
                <input type="submit" value="Delete"/>
            </form>
        <% }) %>
    </ul>
</body>
</html>