<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🧭 Captain's Log</title>
</head>
<body>
    <ul>
        <% logs.map((log) => { %>
            <li>
                <a href= <%= `/logs/${log._id}` %>>
                    <%= log.title %>
                </a>
            </li>
            <a href= <%= `/logs/${log._id}/edit` %>>
                Edit Log
            </a>
            <form action= <%= `/logs/${log._id}/?_method=DELETE`%> method='POST'>
                <input type="submit" value="Delete"/>
            </form>
        <% }) %>
    </ul>
    <a href="/logs/new">Create New Log</a>
</body>
</html>