<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Book</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Pixelify+Sans:regular,500,600,700);
    
        *{
            margin: 0px;
            padding: 0px;
        }
        body{
            background: linear-gradient(109.6deg, rgb(61, 121, 176) 11.3%, rgb(35, 66, 164) 91.1%);
            background-repeat: no-repeat;
            height: 98vh;
            font-family: Pixelify Sans;
            line-height: 0.5in;
            letter-spacing: 0.05in;
            font-size: 20px;
            padding: 10px;

            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        nav{
            padding-left: 20px;
        }
            a{
                text-decoration: none;
                color: white;
            }
            a:hover{
                text-decoration: underline;
            }
        main{
            align-self: center;
            width: 80vw;
            line-height: 0.6in;
        }
            #title{
                border-bottom: 2px aliceblue dashed;
                margin-bottom: 20px;
                
                display: flex;
                justify-content: space-between;
            }
            #entry{
                color: aliceblue;
                height: 60vh;
                padding: 0px 50px;
                overflow-y: scroll;
            }
    </style>
</head>
<body>
    <nav>
        <a href="/logs">
            Return to All Logs
        </a>
    </nav>
    <main>
        <div id = 'title'>
            Title:
            <%= log.title %>
            <p>
                Log Date: <%= `${log.createdAt.getMonth() + 1}-${log.createdAt.getDate()}-${log.createdAt.getFullYear()}` %>
            </p>
        </div>
        <div id="status">
            Ship Status: 
            <% if(log.shipIsBroken == false){ %>
                <span style="color: darkgreen;">Good Condition</span>
            <% }else{ %>
                <span style="color: darkred;">Needs Repairs</span>
            <% } %>
        </div>
        <div>
            Entry: 
            <br />
            <p id="entry">
                <%= log.entry %>
            </p>
        </div>
    </main>
</body>
</html>
<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facere voluptas quidem ratione autem! Debitis nisi vel ratione cum porro? Saepe error ipsa esse ipsum repellendus eaque animi obcaecati illo, ut quas rerum provident, impedit voluptate facilis minus porro sequi. -->